// Run: `npm run css-build` in this directory to build the CSS.
// Run: `npm start` to watch the this src file & recompile changes.

@charset "utf-8";


// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

// Brand colors.
$blue: #215ea3;
$lightblue: #6FA0D9;
$gray: #5a5a5a;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Raleway", sans-serif;
$grey-dark: $gray;
$grey-light: $beige-light;
$primary: $blue;
$link: $lightblue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";
