body { margin:0; padding: 0; color: #222; font-family: "Helvetica", "Arial", sans-serif; font-size: 16px;}
h1,h2,h3,h4,h5,h6 { color:#565; margin:0; padding: 1em 0 .5em 0; font-size: 1em; font-weight: bold; clear: both;}
h1 a, h2 a { color:#565; }
h1 {font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: .75em; } 
p { padding: .5em 0; }
img {margin:0px;padding:0px; border-width:0px;}
ol li, ul li { margin: 0; padding: .25em 0; list-style-position: inside; list-style-type: square; }
li > ol, li > ul { padding-left: 1em; }
ol {list-style-type:decimal;}
strong { font-weight: bold; text-decoration: underline; }
a { color: #2459E0; text-decoration: none; }
a:hover {text-decoration: underline; }
hr { color: #eee; padding:0; margin: 1em auto; background-color: #ccc; border:0px solid white; height: 1px; width:90%; clear:both;}
div#wrapper {display: block; margin: 0 auto; padding: 20px; position: relative; }
div#menu ul li { width: 100px; margin:0;padding: .5em .5em 1.5em 0; display: inline;}
div#menu ul li:after {content:". "; }
div#content { display: block; width: 600px; float: left; min-height: 400px; padding-bottom: 40px;} 
div#twitter{ display: block; float: left; width: 210px; padding-left: 10px; }
div#twitter h4 { clear: none; }
div#twitter h3 { display: none; }
div#fb-root,div#fb-like { clear: both; width: 100%; }
img#southwest-map { width: 80%; }

